@tailwind base;
@tailwind components;
@tailwind utilities;

/* Animasi Fade-In */
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.animate-fade-in {
  animation: fadeIn 0.3s ease-in-out forwards;
}

body {
  background: #111827;
}